config ZMK_BEHAVIOR_MOD_HOLD
  bool
  default y
  depends on DT_HAS_ZMK_BEHAVIOR_MOD_HOLD_ENABLED \
          || DT_HAS_ZMK_BEHAVIOR_MOD_HOLD_ONE_PARAM_ENABLED \
          || DT_HAS_ZMK_BEHAVIOR_MOD_HOLD_TWO_PARAM_ENABLED
